@page
@{
    ViewData["Title"] = "Test Page 1";
}

<h1>Test Page 1</h1>
<p>This is a simple test page without any layout or static file references.</p>
<p>Created to test if basic pages work on Azure.</p>